In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

data = pd.read_csv('./data/public_layout.csv')

Ilość urządzeń elektrycznych, id nas nie obchodzi, wszystko co się wiąże z zużyciem prądu

In [16]:
df = pd.read_csv('./data/recs2009_public.csv')

In [17]:
# usefull_columns = ['YEARMADERANGE', 'YEARMADE',
#                    'TOTROOMS', 'CELLAR', 'BASECOOL', 'ATTIC', 'PCTATTHT', 'PRKGPLC1', 'SIZEOFGARAGE',
#                    'STOVEN', 'DISHWASH', 'TVCOLOR', 
#                    ]

Wybór kolumn do dalszego przetwarzania

In [18]:
useful_columns = ['YEARMADE',
                   'TOTROOMS', 'CELLAR', 'ATTIC', 'PRKGPLC1', 'SIZEOFGARAGE',
                   'STOVEN', 'DISHWASH', 'TVCOLOR', "NUMPC", "EQUIPAUX", "TEMPNITE", "TEMPNITEAC", "HELPCFL", "NHSLDMEM", "ATHOME",
                   "TOTHSQFT", "TOTALBTU", 'INSTLCFL'
                   ]

In [19]:
df = df[useful_columns]

Zastąpienie temperatur w Farenheitach stopniami Celciusza

In [20]:
df['TEMPNITEAC_CELCIUS'] = df.apply(lambda _: '', axis=1)

In [21]:
df['TEMPNITE_CELCIUS'] = (df['TEMPNITE'] - 32) * (5/9)
df['TEMPNITEAC_CELCIUS'] = (df['TEMPNITEAC'] - 32) * (5/9)
df.drop(columns=['TEMPNITE', 'TEMPNITEAC'],axis=1, inplace=True)

In [22]:
df['TOTHSQM'] = df.loc[:, ['TOTHSQFT']]*0.09290304
df.drop(columns=['TOTHSQFT'],axis=1, inplace=True)

In [23]:
df

,YEARMADE,TOTROOMS,CELLAR,ATTIC,PRKGPLC1,SIZEOFGARAGE,STOVEN,DISHWASH,TVCOLOR,NUMPC,EQUIPAUX,HELPCFL,NHSLDMEM,ATHOME,TOTALBTU,INSTLCFL,TEMPNITEAC_CELCIUS,TEMPNITE_CELCIUS,TOTHSQM
0,2004,9,1,0,1,2,1,1,4,2,0,0,4,0,63006,1,22.777778,20.000000,367.710232
1,1998,4,0,0,1,2,1,0,2,2,1,-2,6,1,103460,-2,-18.888889,22.777778,254.182717
2,1965,2,-2,-2,-2,-2,1,0,1,1,0,0,1,0,58716,1,-18.888889,18.333333,49.052805
3,1985,7,0,0,1,2,0,1,5,2,0,-2,1,1,76401,-2,20.000000,12.777778,150.781634
4,1983,5,1,0,0,-2,1,1,2,2,0,0,1,0,59809,1,-18.888889,21.111111,118.358473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12078,1985,6,1,0,1,2,1,1,2,1,1,0,1,0,75702,1,-18.888889,15.555556,82.962415
12079,1980,1,0,0,-2,-2,1,0,1,0,1,-2,1,0,25251,-2,-18.888889,32.222222,46.637326
12080,1993,8,0,0,1,2,1,1,4,1,1,0,4,0,148252,1,-18.888889,18.333333,388.427610
12081,1930,5,1,0,0,-2,1,0,2,1,0,-2,1,0,81978,-2,-18.888889,17.777778,80.268227
12082,1948,4,1,0,1,2,1,1,2,1,1,1,2,1,38100,1,-18.888889,17.777778,419.921741

Usunięcie kłopotliwych -2

In [24]:
# Replacing tricki -2 values with 0 in selected columns
for col in ['CELLAR', 'ATTIC', 'PRKGPLC1', 'INSTLCFL']:
    for i in range(len(df)):
        if df.loc[i, col] == -2:
            df.loc[i, col] = 0

In [ ]:
fig, ax = plt.subplots(figsize=(15, 15))
df.hist(ax=ax)

C:\Users\wpiot\AppData\Local\Temp\ipykernel_22076\4014895529.py:2: UserWarning: To output multiple subplots, the figure containing the passed axes is being cleared.
  df.hist(ax=ax)

array([[<AxesSubplot: title={'center': 'YEARMADE'}>,
        <AxesSubplot: title={'center': 'TOTROOMS'}>,
        <AxesSubplot: title={'center': 'CELLAR'}>,
        <AxesSubplot: title={'center': 'ATTIC'}>],
       [<AxesSubplot: title={'center': 'PRKGPLC1'}>,
        <AxesSubplot: title={'center': 'SIZEOFGARAGE'}>,
        <AxesSubplot: title={'center': 'STOVEN'}>,
        <AxesSubplot: title={'center': 'DISHWASH'}>],
       [<AxesSubplot: title={'center': 'TVCOLOR'}>,
        <AxesSubplot: title={'center': 'NUMPC'}>,
        <AxesSubplot: title={'center': 'EQUIPAUX'}>,
        <AxesSubplot: title={'center': 'HELPCFL'}>],
       [<AxesSubplot: title={'center': 'NHSLDMEM'}>,
        <AxesSubplot: title={'center': 'ATHOME'}>,
        <AxesSubplot: title={'center': 'TOTALBTU'}>,
        <AxesSubplot: title={'center': 'INSTLCFL'}>],
       [<AxesSubplot: title={'center': 'TEMPNITEAC_CELCIUS'}>,
        <AxesSubplot: title={'center': 'TEMPNITE_CELCIUS'}>,
        <AxesSubplot: title={'center': 'TOTHSQM'}>, <AxesSubplot: >]],
      dtype=object)